/*font style*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    
    
}
/*banner style*/
.banner-container{
    border: 2px solid saddlebrown;
    max-width: 1920px;
}

.banner-content{
    border: 2px solid rgb(19, 139, 61);
    padding: 0px 80px;
    display: flex;
    gap: 80px;
    background-color: rgba(229, 84, 115, 0.1);  
}

.banner-text-content{
    border: 2px solid rgb(5, 2, 21);
    width: 50%; 
    padding: 200px 80px;  
}

.banner-title{
    font-size: 80px;
    font-weight: 600px;
    margin-bottom: 30px;
    color: rgb(39, 39, 39);
}

.banner-description{
    color: rgba(39, 39, 39, 0.6);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.banner-img-content{
    border: 2px solid rgb(5, 2, 21);
    width: 50%; 
    padding: 80px 80px;  
}

.button{
    border-radius: 5px;
    background: rgb(229, 84, 115);;
    color:rgb(255, 255, 255);
    padding: 5px 10px;
}

.Featured-section{
    border: 2px solid rgb(5, 2, 21);
    text-align: center;
    margin-top: 180px;
}

.Featured{
    margin-bottom: 48px;
}
.featured-title, .section-4-div{
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.featured-description, .section-4-div{
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.main-flower-img, .section-2{
    border: 2px solid rgb(5, 2, 21);
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.flower-img{
    border: 2px dashed rgb(5, 2, 21);
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 100%;
}
.flower-name{
    border: 2px solid rgb(5, 2, 21);
    margin-top: 25px;
    display: flex;
    gap: 350px;
    justify-content: center;
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
}

.section-2{
    border: 2px solid rgb(5, 2, 21);
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 320px;
}
.section-2-div1{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 85px 0 ;
}
.section-2-div2{
    border: 2px solid rgb(5, 2, 21);
    text-align: center;
    
}
.section-2-img{
    border: 2px dashed rgb(5, 2, 21); 
    
}
.section-2-paragraph{
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.8);
}
.section-3{
    border: 2px solid rgb(5, 2, 21);
    margin-top: 128px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    gap: 180px;
}
.text-primary{
    color: red;
}
.section-3-div, .section-4-div{
    border: 2px solid rgb(5, 2, 21);
    padding: 120px 0;
    display: grid;
    place-items: center;

}
.section-3-img{
    border: 2px solid rgb(5, 2, 21);
}
.section4-img{
    border: 2px solid rgb(5, 2, 21);
    width: 85%;
    margin: 0px auto;
    padding-left: 100px;
    display: flex;
    gap: 50px;
}
.section-5-div{
    width: 90%;
    margin: 0px auto;
    padding: 60px;
}